.navbar {
    display: flex;
    gap:2rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-list:nth-of-type(2) {
    justify-content: flex-end;
    gap: 1rem;
    flex-grow: 1;
}

.navbar-item {

}

.navbar-link {

}
